### Project  Movie Prophet
#### A project to create a predictive model to forecast a movie's performance on the Box Office
#### Team Members - Nelson Dsouza, Maria George, Saurabh Seth

##### movies_final.csv contains the final csv file for modelling

In [132]:
# GET THE LATEST CSV HERE
import pandas as pd
movie_df = pd.read_csv("movies_final.csv")
print(movie_df.shape)
movie_df.head()

#movie_df[movie_df['title'] == '10']

(7971, 14)

  key_bom key_wiki key_omdb                  title    year    budget     gross   revenue         release_date  release_month  release_quarter  release_day_of_the_year  release_week_of_the_year  holiday_season
0  b13998   w25445      NaN          the mod squad  1999.0  50000000  13263993 -0.734720  1999-03-26 00:00:00              3                1                       85                        12               0
1   b7039   w21140    o6452                 kundun  1997.0  28000000   5684789 -0.796972  1997-12-25 00:00:00             12                4                      359                        51               1
2  b14953   w40276   o20779     the usual suspects  1995.0   6000000  23341568  2.890261  1995-08-18 00:00:00              8                3                      230                        33               0
3   b9328   w28365    o5434  ouija: origin of evil  2016.0   9000000  35144505  2.904945  2016-10-21 00:00:00             10                4                      295                        42               0
4  b10189   w31185      NaN        red dawn (2012)  2012.0  65000000  44806783 -0.310665  2012-11-21 00:00:00             11                4                      326                        47               1

### Common

In [47]:
# Load libraries and instatiate DB connection

%matplotlib inline
import pandas as pd
import pymysql
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.max_seq_items = 2000

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='mprophet',
                             db='movies')

In [48]:
# Pull table from database

cur = connection.cursor()

cur.execute("select * FROM bom")
bom_sql = []
for row in cur: bom_sql.append(list(row))

cur.execute("select * FROM wiki")
wiki_sql = []
for row in cur: wiki_sql.append(list(row))
    
cur.execute("select * FROM comb_index")
comb_sql = []
for row in cur: comb_sql.append(list(row))
    
cur.execute("select * FROM movies_final")
movie_sql = []
for row in cur: movie_sql.append(list(row))
    
cur.close()
connection.close()

In [49]:
# Store bom table information in DataFrame

bom_columns =         ['bom_title', 'bom_link', 'key_bom', 'bom_date', 'bom_year', 'bom_name', 'bom_budget',
                       'bom_domestic_gross', 'bom_lifetime_gross', 'bom_release_date', 'bom_runtime', 'bom_distributor',
                       'bom_genre', 'bom_rating', 'bom_awards', 'bom_actor', 'bom_assoc_producer', 'bom_cinematographer',
                       'bom_composer', 'bom_director', 'bom_exec_producer', 'bom_line_producer', 'bom_players', 'bom_producer',
                       'bom_writer', 'bom_close_date', 'bom_domestic_summary', 'bom_in_release', 'bom_limited_opening_weekend',
                       'bom_opening_weekend', 'bom_wide_opening_weekend', 'bom_widest_release', 'bom_domestic_revenue',
                       'bom_foreign_revenue', 'bom_worldwide_revenue', 'bom_total_lifetime_gross']

bom = pd.DataFrame(bom_sql, columns=bom_columns)
#bom.to_csv('bom.csv')
print('Total movies from Box Office Mojo:', len(bom))
bom.head(1)

Total movies from Box Office Mojo: 16826

  bom_title                                               bom_link key_bom   bom_date bom_year bom_name bom_budget bom_domestic_gross bom_lifetime_gross bom_release_date     bom_runtime bom_distributor bom_genre bom_rating                       bom_awards                                                                                    bom_actor bom_assoc_producer bom_cinematographer bom_composer bom_director bom_exec_producer bom_line_producer bom_players bom_producer bom_writer bom_close_date             bom_domestic_summary bom_in_release bom_limited_opening_weekend bom_opening_weekend bom_wide_opening_weekend bom_widest_release bom_domestic_revenue bom_foreign_revenue bom_worldwide_revenue               bom_total_lifetime_gross
0   #horror  http://www.boxofficemojo.com/movies/?id=horrorifc.htm      b0  20-Nov-15   2015\r  #Horror        N/A                                              20-Nov-15  1 hrs. 30 min.             IFC    Horror    Unknown  No Academy Awards Information\r  "['Balthazar Getty', 'Timothy Hutton', 'Natasha Lyonne', 'Taryn Manning', 'Chloe Sevigny']"                                                                                                                                       \r                 No Domestic Summary Information                                                                                                         \r                                                                 No Total Lifetime Gross Information\r

In [51]:
wiki_columns = ['wiki_budget',
                "wiki_cinematography","wiki_director","wiki_distributor", 
                "wiki_editing", "wiki_gross" , "wiki_music", 
                "wiki_pageid", "wiki_producer", "wiki_released", 
                "wiki_runtime", "wiki_screenplay", "wiki_starring", 
                "wiki_studio","wiki_title", "key_wiki", "year_wiki",
                "year_wiki_format"];

wiki = pd.DataFrame(wiki_sql, columns=wiki_columns)
#bom.to_csv('bom.csv')
print('Total movies from Wikipedia:', len(wiki))

wiki['key_wiki'] = [str(v).lstrip() for v in wiki['key_wiki']]
wiki['key_wiki']= [str(v).rstrip() for v in wiki['key_wiki']]

wiki.head(1)

Total movies from Wikipedia: 40981

  wiki_budget             wiki_cinematography  wiki_director wiki_distributor                    wiki_editing wiki_gross                wiki_music wiki_pageid                wiki_producer                                                          wiki_released  wiki_runtime wiki_screenplay wiki_starring wiki_studio wiki_title key_wiki year_wiki year_wiki_format
0              "[Gilbert Salas, Heather Rae]"  [Heather Rae]               []  "[Gregory Bayne, Heather Rae]"             [John Trudell & Bad Dog]     5975700  "[Heather Rae, Elyse Katz]"  "[2005, 01, 20, Sundance Film Festival, 2006, 02, 24, United States]"  [80 minutes]                            []                trudell   w39443      None             None

In [ ]:
comb_columns = ["key_bom","key_wiki","key_omdb","bom_title","wiki_title","omdb_title","year_bom",
               "year_bom_format","year_wiki", "year_wiki_format", "year_omdb", "year_omdb_format","score"]
comb_index = pd.DataFrame(comb_sql, columns=comb_columns)
#bom.to_csv('bom.csv')
print('Total movies in combined file:', len(comb_index))
comb_index.head()

In [52]:
movie_columns = ["key_bom","key_wiki","key_omdb","bom_title","wiki_title","omdb_title",
                                  "year_bom_format","year_wiki_format","year_omdb_format",
                                "wiki_budget","wiki_gross","bom_budget","bom_domestic_gross"]
movie_df = pd.DataFrame(movie_sql, columns=movie_columns)
#bom.to_csv('bom.csv')
print('Total movies in combined file:', len(movie_df))
movie_df.head()

Total movies in combined file: 8067

  key_bom key_wiki key_omdb              bom_title             wiki_title             omdb_title year_bom_format year_wiki_format year_omdb_format    wiki_budget           wiki_gross   bom_budget bom_domestic_gross
0  b13998   w25445                   the mod squad         the mod squad                                    1999             1999                   [$50 million]  """[$15,415,361]"""  $50 million           13263993
1   b7039   w21140    o6452                 kundun                 kundun                 kundun            1997             1997             1997          [$28]               [$5.7]  $28 million            5684789
2  b14953   w40276   o20779     the usual suspects     the usual suspects     the usual suspects            1995             1995             1995   [$6 million]      [$34.4 million]   $6 million           23341568
3   b9328   w28365    o5434  ouija: origin of evil  ouija: origin of evil  ouija: origin of evil            2016             2016             2016   [$9 million]      [$81.7 million]   $9 million           35144505
4  b10189   w31185                 red dawn (2012)   red dawn (2012 film)                                   2012             2012                   [$65 million]      [$48.1 million]  $65 million           44806783

### Nelson

In [118]:
# Retrieving the base table and only taking entries which have key for bom
movies_f = movie_df[~movie_df['key_bom'].isnull()]
movies_f = movies_f[~movies_f['revenue'].isnull()]
print('Movies with revenue information for bom', len(movies_f))

# Cleaning actor names and storing in list
bom_ftr = bom.copy()
print('Movies with no player information:', len(bom_ftr[bom_ftr['bom_players'] == 'No Player Information']))
bom_ftr['actor_clean'] = bom_ftr['bom_actor'].str.replace('[','')
bom_ftr['actor_clean'] = bom_ftr['actor_clean'].str.replace(']','')
bom_ftr['actor_clean'] = bom_ftr['actor_clean'].str.replace('"','')
bom_ftr['actor_clean'] = bom_ftr['actor_clean'].str.replace("'",'')
bom_ftr['actor_clean'] = bom_ftr['actor_clean'].str.replace(", ",',')
bom_ftr['actor_clean'] = bom_ftr['actor_clean'].str.replace("*",',')
bom_ftr['actor_clean'] = bom_ftr['actor_clean'].apply(lambda x: x.split(','))

movies_f = pd.merge(bom_ftr, movies_f,on = "key_bom")
movies_f.head(2)

Movies with revenue information for bom 3090
Movies with no player information: 6419

,bom_title,bom_link,key_bom,bom_date,bom_year,bom_name,bom_budget,bom_domestic_gross,bom_lifetime_gross,bom_release_date,bom_runtime,bom_distributor,bom_genre,bom_rating,bom_awards,bom_actor,bom_assoc_producer,bom_cinematographer,bom_composer,bom_director,bom_exec_producer,bom_line_producer,bom_players,bom_producer,bom_writer,bom_close_date,bom_domestic_summary,bom_in_release,bom_limited_opening_weekend,bom_opening_weekend,bom_wide_opening_weekend,bom_widest_release,bom_domestic_revenue,bom_foreign_revenue,bom_worldwide_revenue,bom_total_lifetime_gross,actor_clean,key_wiki,key_omdb,title,year,budget,gross,revenue,release_date,release_month,release_quarter,release_day_of_the_year,release_week_of_the_year,holiday_season
0,(500) days of summer,http://www.boxofficemojo.com/movies/?id=500daysofsummer.htm,b10,17-Jul-09,2009\r,(500) Days of Summer,$7.5 million,32391374,,17-Jul-09,1 hrs. 35 min.,Fox Searchlight,Romance,PG-13,No Academy Awards Information\r,"""['Zooey Deschanel', 'Geoffrey Arend', 'Chloe Moretz', 'Clark Gregg', 'Minka Kelly*']""",,,"""['Mychael Danna', 'Rob Simonsen']""",['Marc Webb'],,,,"""['Mason Novick', 'Mark S. Waters']""","""['Scott Neustadter', 'Michael H. Weber']""\r",""" November 22, 2009""",,133 days / 19 weeks,"""<b> $834,501</b>""",,"""$3,739,702 """,""" 1,048 theaters""\r","""$32,391,374 ""","""$28,331,360 ""","""$60,722,734 """,\r,"[Zooey Deschanel, Geoffrey Arend, Chloe Moretz, Clark Gregg, Minka Kelly, ]",NaN,NaN,(500) days of summer,NaN,7500000,32391374,3.318850,NaN,NaN,NaN,NaN,NaN,NaN
1,10 things i hate about you,http://www.boxofficemojo.com/movies/?id=10thingsihateaboutyou.htm,b24,31-Mar-99,1999\r,10 Things I Hate About You,$30 million,38178166,,31-Mar-99,1 hrs. 37 min.,Buena Vista,Romantic Comedy,PG-13,No Academy Awards Information\r,"""['Julia Stiles', 'Heath Ledger']""",,,,,,,,"""['Jeffrey Chernov', 'Andrew Lazar']""","""['Karen McCullah Lutz', 'Kirsten Smith']""\r",,,,,"""$8,330,681 """,,""" 2,311 theaters""\r","""$38,178,166 ""","""$15,300,000 ""","""$53,478,166 """,\r,"[Julia Stiles, Heath Ledger]",w120,o2006,10 things i hate about you,1999.0,30000000,38178166,0.272606,1999-03-31 00:00:00,3,1,90,13,0

In [ ]:
'''
# Calclulate the revenue ratio for each movie which has data for budget and domestic total gross 

print('Movies with no budget information:', len(bom_ftr[bom_ftr['bom_budget'] == 'N/A']))
print('Movies with no gross total information:', len(bom_ftr[bom_ftr['bom_domestic_gross'] == '']))

bom_ftr_rev = bom_ftr[(bom_ftr['bom_budget'] != 'N/A') & (bom_ftr['bom_domestic_gross'] != '')].copy()
bom_ftr_rev.reset_index(inplace=True)
bom_ftr_rev['bom_budget'] = bom_ftr_rev['bom_budget'].str.replace('$','')
bom_ftr_rev['bom_budget'] = bom_ftr_rev['bom_budget'].str.replace('"','')
bom_ftr_rev['bom_budget'] = bom_ftr_rev['bom_budget'].str.replace(',','')

bom_ftr_rev.loc[bom_ftr_rev.bom_budget.str.contains('million'),'bom_budget'] = bom_ftr_rev.loc[
    bom_ftr_rev.bom_budget.str.contains('million'), 'bom_budget'].apply(lambda x: float(x.replace('million', ''))*1000000)

bom_ftr_rev['bom_domestic_gross'] = bom_ftr_rev['bom_domestic_gross'].astype(float)
bom_ftr_rev['bom_budget'] = bom_ftr_rev['bom_budget'].astype(float)
bom_ftr_rev['bom_revenue'] = (bom_ftr_rev['bom_domestic_gross'] - bom_ftr_rev['bom_budget']) / bom_ftr_rev['bom_budget']

print('\nMovies with revenue information:', len(bom_ftr_rev))
bom_ftr_rev.head(1)
'''

In [119]:
# Getting unique actors
actor_unq = list(movies_f['actor_clean'])
actor_unq = list(set(sum(actor_unq, [])))
actor_unq = [e for e in actor_unq if e not in ('', ' ')]
actor_unq = dict((ky,0) for ky in actor_unq)
print('Unique actors in bom: ', len(actor_unq))

# For each actor, assigning score based on revenue of their movie
mov_actors = list(movies_f['actor_clean'])
mov_actors = [[actor for actor in mov if actor not in ('', ' ')] for mov in mov_actors]

ind = 0
for actors in mov_actors:
    for actor in actors:
        actor_unq[actor] += float(movies_f.loc[ind, ['revenue']])
    ind+=1

Unique actors in bom:  2134

In [120]:
actor_unq['Meryl Streep']

11.418991392433341

In [121]:
# Pull the actor feature into dataframe and calculate stats

f_actor = pd.Series(actor_unq, name='score').to_frame()
f_actor = f_actor.sort_values(by='score', ascending=False)
f_actor.reset_index(inplace=True)
f_actor.columns=['Actors', 'score']
print(f_actor.head(5))
f_actor.describe().transpose()

             Actors       score
0     Alex Kendrick  182.957054
1  Jamie Lee Curtis  152.799540
2       Kevin Smith  120.342816
3       Jason Mewes  118.917896
4         Jon Heder  111.434016

       count      mean        std       min       25%     50%       75%         max
score   2134  5.378994  11.204653 -6.247023 -0.109848  1.4418  6.695999  182.957054

In [ ]:
# Analyzing distribution

plt.figure(1, figsize = (15,6))
plt.hist(list(f_actor[f_actor['score'] != 0]['score']), range=[0,30], bins=(30), facecolor='purple')
plt.title("Distribution of Actor Scores", fontsize = 22)
plt.ylabel("Score", fontsize = 15)
plt.xlabel("Number of Actors", fontsize=15)

ax = plt.gca()
ax.spines['right'].set_color('none')
ax.spines['top'].set_color('none')
ax.yaxis.set_ticks_position('none')
ax.xaxis.set_ticks_position('none')

plt.savefig('Actor_Distribution.png')

In [127]:
# For each movie, assigning actor score

movies_f["bom_actor_score"] = 0.0
ind = 0
for actors in mov_actors:
    agg_actor_score = 0
    for actor in actors:
        agg_actor_score += actor_unq[actor]
    movies_f.loc[ind, ['bom_actor_score']] = agg_actor_score
    ind+=1
    
print(movies_f.shape)
movies_f.head(1)

(3090, 51)

,bom_title,bom_link,key_bom,bom_date,bom_year,bom_name,bom_budget,bom_domestic_gross,bom_lifetime_gross,bom_release_date,bom_runtime,bom_distributor,bom_genre,bom_rating,bom_awards,bom_actor,bom_assoc_producer,bom_cinematographer,bom_composer,bom_director,bom_exec_producer,bom_line_producer,bom_players,bom_producer,bom_writer,bom_close_date,bom_domestic_summary,bom_in_release,bom_limited_opening_weekend,bom_opening_weekend,bom_wide_opening_weekend,bom_widest_release,bom_domestic_revenue,bom_foreign_revenue,bom_worldwide_revenue,bom_total_lifetime_gross,actor_clean,key_wiki,key_omdb,title,year,budget,gross,revenue,release_date,release_month,release_quarter,release_day_of_the_year,release_week_of_the_year,holiday_season,bom_actor_score
0,(500) days of summer,http://www.boxofficemojo.com/movies/?id=500daysofsummer.htm,b10,17-Jul-09,2009\r,(500) Days of Summer,$7.5 million,32391374,,17-Jul-09,1 hrs. 35 min.,Fox Searchlight,Romance,PG-13,No Academy Awards Information\r,"""['Zooey Deschanel', 'Geoffrey Arend', 'Chloe Moretz', 'Clark Gregg', 'Minka Kelly*']""",,,"""['Mychael Danna', 'Rob Simonsen']""",['Marc Webb'],,,,"""['Mason Novick', 'Mark S. Waters']""","""['Scott Neustadter', 'Michael H. Weber']""\r",""" November 22, 2009""",,133 days / 19 weeks,"""<b> $834,501</b>""",,"""$3,739,702 """,""" 1,048 theaters""\r","""$32,391,374 ""","""$28,331,360 ""","""$60,722,734 """,\r,"[Zooey Deschanel, Geoffrey Arend, Chloe Moretz, Clark Gregg, Minka Kelly, ]",NaN,NaN,(500) days of summer,NaN,7500000,32391374,3.31885,NaN,NaN,NaN,NaN,NaN,NaN,50.482193

In [149]:
print(len(movie_df[~movie_df['key_bom'].isnull()]))
print(len(set(movie_df[~movie_df['key_bom'].isnull()]['key_bom'])))

print(len(movie_df[~bom_ftr['key_bom'].isnull()]))
print(len(set(movie_df[~bom_ftr['key_bom'].isnull()]['key_bom'])))

5302
5252
7971
5253

/home/ubuntu/anaconda3/lib/python3.5/site-packages/pandas/core/frame.py:1997: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

In [137]:
movie_df = pd.read_csv("movies_final.csv")
print(movie_df.shape)

movies_score = movies_f[['key_bom', 'bom_actor_score']]
print(movies_score.shape)

#movie_df = pd.merge(movie_df, movies_score,on = "key_bom", how='left')
#movie_df.shape

(7971, 14)
(3090, 2)

### Maria

###### Creating the combined data (to be loaded into the table movies_final)

In [ ]:
# Filtering wiki for data for which wiki_budget and wiki_gross exists
print("no:of rows in wiki where budget and gross revenue is not null:")
print(wiki[(wiki.wiki_budget!="") & (wiki.wiki_gross!="")].shape)

print("no:of rows in bom where budget and gross revenue is not null:")
bom['bom_budget'] = [str(v).lstrip() for v in bom['bom_budget']]
bom['bom_budget']= [str(v).rstrip() for v in bom['bom_budget']]
f = bom.bom_domestic_gross
print(bom[(bom.bom_budget!="") & (bom.bom_budget!="N/A") & (f!="")].shape)

# Filtering the rows and intersted columns
wiki_f = wiki[(wiki.wiki_budget!="") & (wiki.wiki_gross!="")]
wiki_f = wiki_f[["key_wiki","wiki_title","wiki_budget","wiki_gross"]]
bom_f = bom[(bom.bom_budget!="") & (bom.bom_budget!="N/A") & (f!="")]
bom_f = bom_f[["key_bom","bom_title","bom_budget","bom_domestic_gross"]]


# Filtering intersted columsn from 
comb_index_f = comb_index[["key_bom","key_wiki","key_omdb","omdb_title","year_bom_format",
                           "year_wiki_format","year_omdb_format"]]

# Merging the combined index table
wiki_f_comb = pd.merge(wiki_f,comb_index_f,on = "key_wiki")
print(wiki_f_comb.shape)
bom_f_comb = pd.merge(bom_f,comb_index_f,on = "key_bom")
print(bom_f_comb.shape)

wiki_bom_f_comb = pd.merge(wiki_f_comb,bom_f_comb,on = ["key_wiki","key_bom"])
wiki_bom_f_comb = wiki_bom_f_comb.rename(columns = {'key_omdb_x':'key_omdb'})
wiki_bom_f_comb = wiki_bom_f_comb.drop('key_omdb_y',axis=1)
wiki_bom_f_comb = wiki_bom_f_comb.rename(columns = {'omdb_title_x':'omdb_title'})
wiki_bom_f_comb = wiki_bom_f_comb.drop('omdb_title_y',axis=1)
wiki_bom_f_comb = wiki_bom_f_comb.rename(columns = {'year_omdb_format_x':'year_omdb_format'})
wiki_bom_f_comb = wiki_bom_f_comb.drop('year_omdb_format_y',axis=1)
wiki_bom_f_comb = wiki_bom_f_comb.rename(columns = {'year_bom_format_x':'year_bom_format'})
wiki_bom_f_comb = wiki_bom_f_comb.drop('year_bom_format_y',axis=1)
wiki_bom_f_comb = wiki_bom_f_comb.rename(columns = {'year_wiki_format_x':'year_wiki_format'})
wiki_bom_f_comb = wiki_bom_f_comb.drop('year_wiki_format_y',axis=1)
#print (wiki_bom_f_comb.columns)
print("Combined v1:", wiki_bom_f_comb.shape)

# count of unique wiki,bom key
#wiki_bom_f_comb.groupby(['key_wiki', 'key_bom']).size().shape
#wiki_bom_f_comb.head()

# Appending the rest
wiki_f_comb_rem = wiki_f_comb[~wiki_f_comb['key_wiki'].isin(wiki_bom_f_comb['key_wiki'])]
print(wiki_f_comb_rem.shape)
bom_f_comb_rem = bom_f_comb[~bom_f_comb['key_bom'].isin(wiki_bom_f_comb['key_bom'])]
print(bom_f_comb_rem.shape)

wiki_bom_f_comb = wiki_bom_f_comb.append(wiki_f_comb_rem)
wiki_bom_f_comb = wiki_bom_f_comb.append(bom_f_comb_rem)
print("Combined v2:", wiki_bom_f_comb.shape)

wiki_f_rem = wiki_f[~wiki_f['key_wiki'].isin(wiki_bom_f_comb['key_wiki'])]
print(wiki_f_rem.shape)
bom_f_rem = bom_f[~bom_f['key_bom'].isin(wiki_bom_f_comb['key_bom'])]
print(bom_f_rem.shape)

wiki_bom_f_comb = wiki_bom_f_comb.append(wiki_f_rem)
wiki_bom_f_comb = wiki_bom_f_comb.append(bom_f_rem)
print("Combined v3:", wiki_bom_f_comb.shape)

# Rearranging the columsn
#print (wiki_bom_f_comb.columns)
wiki_bom_f_comb = wiki_bom_f_comb[["key_bom","key_wiki","key_omdb","bom_title","wiki_title","omdb_title",
                                  "year_bom_format","year_wiki_format","year_omdb_format",
                                  "wiki_budget","wiki_gross","bom_budget","bom_domestic_gross"]]

wiki_bom_f_comb.to_csv("CombinedFile.csv",index = None)
wiki_bom_f_comb.to_csv("combinedfile.txt",sep="\t",index = None)
wiki_bom_f_comb.head()

###### Cleaning the revenue, budget column

In [ ]:
# Cleaning bom budget and gross columns

movie_df.loc[movie_df.bom_budget == "",'bom_budget']= movie_df.loc[movie_df.bom_budget=="",'bom_budget'].apply(lambda x: float(x.replace('', '0.0')))

movie_df.loc[movie_df.bom_domestic_gross == "",'bom_domestic_gross']= movie_df.loc[movie_df.bom_domestic_gross=="",'bom_domestic_gross'].apply(lambda x: float(x.replace('', '0.0')))

movie_df = movie_df.fillna(0)

#movie_df.reset_index(inplace=True)
movie_df['bom_budget'] = movie_df['bom_budget'].str.replace('$','')
movie_df['bom_budget'] = movie_df['bom_budget'].str.replace('"','')
movie_df['bom_budget'] = movie_df['bom_budget'].str.replace(',','')

movie_df.loc[movie_df.bom_budget.str.contains('million',na=False),'bom_budget'] = movie_df.loc[
    movie_df.bom_budget.str.contains('million',na=False), 'bom_budget'].apply(lambda x: float(x.replace('million', ''))*1000000)

movie_df['bom_domestic_gross'] = movie_df['bom_domestic_gross'].astype(float)
movie_df['bom_budget'] = movie_df['bom_budget'].astype(float)
movie_df.head()

In [ ]:
# Cleaning wikipedia budget and gross column

import warnings
warnings.filterwarnings('ignore')

t = movie_df
t['wiki_budget'] = t['wiki_budget'].str.replace("million","#")
t['wiki_gross'] = t['wiki_gross'].str.replace("million","#")

def make_hidden(instr):
    return ''.join(c if not c.isalpha() else '' for c in instr)
import re
def make_hidden_1(instr):
    return ''.join(re.sub('[^#.0-9]+', '', instr))

t['wiki_budget'] = t['wiki_budget'].apply(make_hidden)
t['wiki_budget'] = t['wiki_budget'].apply(make_hidden_1)
t['wiki_gross'] = t['wiki_gross'].apply(make_hidden)
t['wiki_gross'] = t['wiki_gross'].apply(make_hidden_1)

def counter(instr):
    return str(instr).count('.')

for k,v in t.wiki_gross.iteritems():
    if(counter(v)>=2):
        t = t.drop(k)
        
for k,v in t.wiki_budget.iteritems():
    if(counter(v)>=2):
        t = t.drop(k)

def make_hidden_2(instr):
    if instr!="":
        if instr[-1]==".":
            return instr[:-1]
        else:
            return instr
    
t['wiki_budget'] = t['wiki_budget'].apply(make_hidden_2)
t['wiki_gross'] = t['wiki_gross'].apply(make_hidden_2)
        
t.loc[t.wiki_budget.str.contains('#',na=False),'wiki_budget'] = t.loc[
    t.wiki_budget.str.contains('#',na=False), 'wiki_budget'].apply(lambda x: float(x.replace('#', ''))*1000000)

t.loc[t.wiki_gross.str.contains('#',na=False),'wiki_gross'] = t.loc[
    t.wiki_gross.str.contains('#',na=False), 'wiki_gross'].apply(lambda x: float(x.replace('#', ''))*1000000)

t.loc[t.wiki_budget == "",'wiki_budget']= t.loc[t.wiki_budget=="",'wiki_budget'].apply(lambda x: float(x.replace('', '0.0')))

t.loc[t.wiki_gross == "",'wiki_gross']= t.loc[t.wiki_gross=="",'wiki_gross'].apply(lambda x: float(x.replace('', '0.0')))

#print(t.loc[t.wiki_budget.str.contains('.',na=False),'wiki_budget'])

t['wiki_budget'] = t['wiki_budget'].astype(float)
t['wiki_gross'] = t['wiki_gross'].astype(float)

movie_df = t
print(movie_df.shape)
movie_df.head()

In [ ]:
movie_df.to_csv("movies_final.csv",index=None)

##### Pick only one title,year,budget and gross

In [ ]:
print(movie_df.shape)
movie_df = movie_df.fillna("")
movie_df.head()

In [ ]:
# If bom contains title pick that else wiki else omdb
# Apply same logic for year

for r in range(0,movie_df.shape[0]):
    if(movie_df.loc[r,'bom_title']!=""):
        movie_df.loc[r,'title']=movie_df.loc[r,'bom_title']
    elif(movie_df.loc[r,'wiki_title']!=""):
        movie_df.loc[r,'title']=movie_df.loc[r,'wiki_title']
    else:
        movie_df.loc[r,'title']=movie_df.loc[r,'omdb_title']

for r in range(0,movie_df.shape[0]):
    if(movie_df.loc[r,'year_bom_format']!=""):
        movie_df.loc[r,'year']=movie_df.loc[r,'year_bom_format']
    elif(movie_df.loc[r,'year_wiki_format']!=""):
        movie_df.loc[r,'year']=movie_df.loc[r,'year_wiki_format']
    else:
        movie_df.loc[r,'year']=movie_df.loc[r,'year_omdb_format']
        
#print(movie_df[movie_df['year']!=""].shape)
        
movie_df = movie_df[movie_df['title']!=""]
movie_df.reset_index(inplace=True,drop=True)
print(movie_df.shape)

# Removing the redunant columns
movie_df = movie_df.drop('bom_title',axis = 1)
movie_df = movie_df.drop('wiki_title',axis = 1)
movie_df = movie_df.drop('omdb_title',axis = 1)

movie_df = movie_df.drop('year_bom_format',axis = 1)
movie_df = movie_df.drop('year_wiki_format',axis = 1)
movie_df = movie_df.drop('year_omdb_format',axis = 1)

print(movie_df.shape)

for r in range(0,movie_df.shape[0]):
    if(movie_df.loc[r,'bom_budget']!="" or movie_df.loc[r,'bom_budget']!=0 or movie_df.loc[r,'bom_budget']!=0.0):
        movie_df.loc[r,'budget']=movie_df.loc[r,'bom_budget']
    else:
        movie_df.loc[r,'budget']=movie_df.loc[r,'wiki_budget']

for r in range(0,movie_df.shape[0]):
    if(movie_df.loc[r,'bom_domestic_gross']!="" or movie_df.loc[r,'bom_domestic_gross']!=0 or movie_df.loc[r,'bom_domestic_gross']!=0.0):
        movie_df.loc[r,'gross']=movie_df.loc[r,'bom_domestic_gross']
    else:
        movie_df.loc[r,'gross']=movie_df.loc[r,'wiki_gross']
        
# Removing the redunant columns
movie_df = movie_df.drop('bom_budget',axis = 1)
movie_df = movie_df.drop('wiki_budget',axis = 1)
movie_df = movie_df.drop('bom_domestic_gross',axis = 1)
movie_df = movie_df.drop('wiki_gross',axis = 1)

print(movie_df.shape)

In [ ]:
movie_df.head()

In [ ]:
movie_df.to_csv("movies_final.csv",index=None)

###### Creating the response variable: revenue

In [ ]:
movie_df['revenue'] = (movie_df['gross'] - movie_df['budget']) / movie_df['budget']
movie_df.head()

In [ ]:
movie_df.to_csv("movies_final.csv",index=None)

###### Features related to Release date

###### 1. Creating a single column release_date
###### 2. Converts to datetime
###### 3. Features: month, quarter, week of the year, day of the year

In [ ]:
# comb_index contains unformatted release date
print(comb_index.shape)
comb_index.head()

In [ ]:
# merging comb_index with movie_df

comb_index_1 = comb_index[["key_bom","year_bom"]]
comb_index_2 = comb_index[["key_wiki","year_wiki"]]
comb_index_3 = comb_index[["key_omdb","year_omdb"]]

movie_df_1 = pd.merge(movie_df,comb_index_1, on = ["key_bom"],how="left")
print(movie_df_1.shape)
movie_df_2 = pd.merge(movie_df_1,comb_index_2, on = ["key_wiki"],how="left")
print(movie_df_2.shape)
movie_df_3 = pd.merge(movie_df_2,comb_index_3, on = ["key_omdb"],how="left")
print(movie_df_3.shape)

movie_df_3 = movie_df_3.fillna("")
movie_df_3.head()

In [ ]:
# Create a single column release_date
# Preference for bom, omdb and then wiki
# release_flag set to 0 if release date is fetched from bom or omdb. If fetched from wiki, then 1

for r in range(0,movie_df_3.shape[0]):
    if(movie_df_3.loc[r,'year_bom']!=""):
        movie_df_3.loc[r,'release_date']=movie_df_3.loc[r,'year_bom']
        #movie_df_3.loc[r,'release_flag']=0
    elif(movie_df_3.loc[r,'year_omdb']!=""):
        movie_df_3.loc[r,'release_date']=movie_df_3.loc[r,'year_omdb']
        #movie_df_3.loc[r,'release_flag']=0
    else:
        movie_df_3.loc[r,'release_date']=movie_df_3.loc[r,'year_wiki']
        #movie_df_3.loc[r,'release_flag']=1
        
movie_df_3 = movie_df_3.drop('year_bom',axis = 1)
movie_df_3 = movie_df_3.drop('year_omdb',axis = 1)
movie_df_3 = movie_df_3.drop('year_wiki',axis = 1)

movie_df_3.to_csv("checkreleasedate.csv",index=None)

#movie_df = movie_df_3[movie_df_3['release_date']!=""]
print(movie_df_3.shape)

movie_df_3.head()

In [ ]:
# Converting release date into datetime data type
import datetime as dt

for r in range(0,movie_df_3.shape[0]):
    if(len(movie_df_3.loc[r,'release_date'])>=8):
        movie_df_3.loc[r,'release_date'] = pd.to_datetime(movie_df_3.loc[r,'release_date'], format='%d-%b-%y')
    else:
        movie_df_3.loc[r,'release_date'] = ""

movie_df_3.head()

In [ ]:
# Get the month as a feature
from datetime import datetime 
for r in range(0,movie_df_3.shape[0]):
    if(movie_df_3.loc[r,'release_date']!=""):
        movie_df_3.loc[r,'release_month'] = datetime.strftime(movie_df_3.loc[r,'release_date'],"%m")
    else:
        movie_df_3.loc[r,'release_month'] = ""
        
# Get the quarter
for r in range(0,movie_df_3.shape[0]):
    if(movie_df_3.loc[r,'release_date']!=""):
        movie_df_3.loc[r,'release_quarter'] = movie_df_3.loc[r,'release_date'].quarter
    else:
        movie_df_3.loc[r,'release_quarter'] = ""
        
# Get the day of the year
for r in range(0,movie_df_3.shape[0]):
    if(movie_df_3.loc[r,'release_date']!=""):
        movie_df_3.loc[r,'release_day_of_the_year'] = datetime.strftime(movie_df_3.loc[r,'release_date'],"%j").lstrip("0")
    else:
        movie_df_3.loc[r,'release_day_of_the_year'] = ""

# get the week of the year
for r in range(0,movie_df_3.shape[0]):
    if(movie_df_3.loc[r,'release_date']!=""):
        movie_df_3.loc[r,'release_week_of_the_year'] = datetime.strftime(movie_df_3.loc[r,'release_date'],"%U").lstrip("0")
    else:
        movie_df_3.loc[r,'release_week_of_the_year'] = ""


print(movie_df_3.shape)
movie_df_3.head()

In [ ]:
movie_df = movie_df_3
movie_df.to_csv("movies_final.csv",index=None)

##### Feature: holiday season

In [36]:
from pandas.tseries.holiday import USFederalHolidayCalendar
import datetime
from datetime import timedelta

cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='1900-01-01', end='2017-12-31').to_pydatetime()

holidays_new = list(holidays)
print(len(holidays_new))

for h in holidays:
    holidays_new.append(h + datetime.timedelta(days=7))
    holidays_new.append(h + datetime.timedelta(days=6))
    holidays_new.append(h + datetime.timedelta(days=5))
    holidays_new.append(h + datetime.timedelta(days=4))
    holidays_new.append(h + datetime.timedelta(days=3))
    holidays_new.append(h + datetime.timedelta(days=2))
    holidays_new.append(h + datetime.timedelta(days=1))
    
    holidays_new.append(h - datetime.timedelta(days=7))
    holidays_new.append(h - datetime.timedelta(days=6))
    holidays_new.append(h - datetime.timedelta(days=5))
    holidays_new.append(h - datetime.timedelta(days=4))
    holidays_new.append(h - datetime.timedelta(days=3))
    holidays_new.append(h - datetime.timedelta(days=2))
    holidays_new.append(h - datetime.timedelta(days=1))
    
print(len(holidays_new))

1094
16410

In [37]:
t = movie_df
t = t.fillna("")


for r in range(0,t.shape[0]):
    if(t.loc[r,'release_date']!=""):
        if pd.to_datetime(t.loc[r,'release_date']) in holidays_new:
            t.loc[r,'holiday_season'] = 1
        else:
            t.loc[r,'holiday_season'] = 0
    else:
        t.loc[r,'holiday_season'] = ""
        
print(t.shape)
t.head()

(7971, 14)

,key_bom,key_wiki,key_omdb,title,year,budget,gross,revenue,release_date,release_month,release_quarter,release_day_of_the_year,release_week_of_the_year,holiday_season
0,b13998,w25445,,the mod squad,1999.0,5e+07,13263993,-0.73472,1999-03-26 00:00:00,3,1,85,12,0
1,b7039,w21140,o6452,kundun,1997.0,2.8e+07,5684789,-0.796972,1997-12-25 00:00:00,12,4,359,51,1
2,b14953,w40276,o20779,the usual suspects,1995.0,6e+06,23341568,2.89026,1995-08-18 00:00:00,8,3,230,33,0
3,b9328,w28365,o5434,ouija: origin of evil,2016.0,9e+06,35144505,2.90495,2016-10-21 00:00:00,10,4,295,42,0
4,b10189,w31185,,red dawn (2012),2012.0,6.5e+07,44806783,-0.310665,2012-11-21 00:00:00,11,4,326,47,1

In [38]:
print("No:of movies thay for teleased during holiday season")
t[t['holiday_season']==1].shape

No:of movies thay for teleased during holiday season

(1544, 14)

In [39]:
movie_df = t
movie_df.to_csv("movies_final.csv",index=None)

###### Statistical Model: simple linear regression

In [28]:
# Importing the library for regression
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Fitting a linear regression model 
results = smf.ols(formula = 'revenue ~ holiday_season + release_week_of_the_year + release_quarter + release_month', 
                  data = movie_df).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                revenue   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.2966
Date:                Tue, 02 May 2017   Prob (F-statistic):              0.880
Time:                        20:40:12   Log-Likelihood:                -13823.
No. Observations:                2099   AIC:                         2.766e+04
Df Residuals:                    2094   BIC:                         2.768e+04
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------------------
Intercept                    5.9089     12.979      0.455      0.649       -19.544    31.362
holiday_season              -4.3970      9.057     -0.486      0.627       -22.158    13.364
release_week_of_the_year     1.8931      3.190      0.594      0.553        -4.362     8.148
release_quarter             -0.3672     14.211     -0.026      0.979       -28.236    27.501
release_month               -7.0796     14.804     -0.478      0.633       -36.111    21.952
==============================================================================
Omnibus:                     5906.774   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        166861407.082
Skew:                          35.581   Prob(JB):                         0.00
Kurtosis:                    1382.432   Cond. No.                         149.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
movie_df.corr()

,budget,gross,revenue,release_month,release_quarter,release_day_of_the_year,release_week_of_the_year,holiday_season
budget,1.000000,0.643535,-0.034572,0.024232,0.003251,0.021686,0.018904,0.124455
gross,0.643535,1.000000,0.015808,0.018991,0.006995,0.019801,0.015327,0.135242
revenue,-0.034572,0.015808,1.000000,0.017776,0.016989,0.018556,0.018570,-0.004735
release_month,0.024232,0.018991,0.017776,1.000000,0.970186,0.996546,0.996323,0.231245
release_quarter,0.003251,0.006995,0.016989,0.970186,1.000000,0.966298,0.965976,0.222249
release_day_of_the_year,0.021686,0.019801,0.018556,0.996546,0.966298,1.000000,0.999773,0.238932
release_week_of_the_year,0.018904,0.015327,0.018570,0.996323,0.965976,0.999773,1.000000,0.242216
holiday_season,0.124455,0.135242,-0.004735,0.231245,0.222249,0.238932,0.242216,1.000000

In [44]:
t = movie_df[movie_df['release_date']!=""]
print(t.shape)
t.corr()

(7971, 14)

,budget,gross,revenue,release_month,release_quarter,release_day_of_the_year,release_week_of_the_year,holiday_season
budget,1.000000,0.643535,-0.034572,0.024232,0.003251,0.021686,0.018904,0.048500
gross,0.643535,1.000000,0.015808,0.018991,0.006995,0.019801,0.015327,0.103465
revenue,-0.034572,0.015808,1.000000,0.017776,0.016989,0.018556,0.018570,-0.012011
release_month,0.024232,0.018991,0.017776,1.000000,0.970186,0.996546,0.996323,0.196765
release_quarter,0.003251,0.006995,0.016989,0.970186,1.000000,0.966298,0.965976,0.207325
release_day_of_the_year,0.021686,0.019801,0.018556,0.996546,0.966298,1.000000,0.999773,0.200521
release_week_of_the_year,0.018904,0.015327,0.018570,0.996323,0.965976,0.999773,1.000000,0.207348
holiday_season,0.048500,0.103465,-0.012011,0.196765,0.207325,0.200521,0.207348,1.000000

### Saurabh